.galleryDuke {
  padding: 20px;
  padding-left: 0;
}

.galleryDuke ul{
  display: flex;
  flex-direction: row;
}

.galleryDuke ul li{
  margin-left: 25px;
}

.galleryDuke ul li:first-child{
  margin-left: 0px;
}

.galleryDuke ul li a img{
  border:solid 2px #2a2acc;
  border-radius: 15px;
  width: 20vw;
height: auto;
}