.pills ul{
  display: flex;
  flex-direction: row;
}

.pills ul li{
  color: white;
  padding: 5px 15px;
  margin: 0 10px;
  border-radius: 20px;
  text-transform: uppercase;
}

.DukePills ul li{
  background-color: #2a2acc;
}

.UsaPills ul li{
  background-color: #ff0000;
}

.BostonPills ul li{
  background-color: #008000;
}

.pills ul li:first-child{
  margin-left: 0;
}